@tailwind base;
@tailwind components;
@tailwind utilities;

/* estilos globais adicionais */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}